data/hgsvc/all_AS-HOR_lengths.tsv filter=lfs diff=lfs merge=lfs -text
data/hgsvc/all_cdrs.bed filter=lfs diff=lfs merge=lfs -text
data/hgsvc/metadata.tsv filter=lfs diff=lfs merge=lfs -text
data/hgsvc/stv_all.bed.gz filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr9_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr18_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr3_2.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr4_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr4_4.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr6_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr16_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr19_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr4_5.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr3_3.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr4_3.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr8_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chrY_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr12_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr17_2.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr19_2.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr20_2.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr4_2.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr11_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr22_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr7_2.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr10_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr1_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr21_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chrX_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr14_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr15_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr17_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr7_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr2_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr5_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr12_2.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr1_2.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr13_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr1_3.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/cdr_distribution/chr20_1.cdr.xls filter=lfs diff=lfs merge=lfs -text
data/hgsvc/array_window_type.bed filter=lfs diff=lfs merge=lfs -text
