data/hgsvc/all_AS-HOR_lengths.tsv filter=lfs diff=lfs merge=lfs -text
data/hgsvc/all_cdrs.bed filter=lfs diff=lfs merge=lfs -text
data/hgsvc/metadata.tsv filter=lfs diff=lfs merge=lfs -text
data/hgsvc/stv_all.bed.gz filter=lfs diff=lfs merge=lfs -text
